{% extends 'base.html' %}
{% load static %}
{% block 'main' %}

<div class="container-fluid mt-5">

    <div class="row">

        <!-- Sidebar -->
        <div class="row">

            <!-- Sidebar -->
            <div class="col-md-3" style="display: flex; flex-direction: column;">

                <div class="card flex-grow-1">

                    <div class="card-header">
                        <h5>Side Menu</h5>
                    </div>

                    <div class="card-body" style="overflow-y: auto;">

                        <ul class="list-unstyled">

                            <li>
                                <a href="{% url 'department_dashboard' %}" class="nav-link">
                                    Department
                                </a>
                            </li>

                            <li>
                                <a href="/dashboard" class="nav-link">
                                    Role
                                </a>
                            </li>

                        </ul>

                    </div>

                </div>

            </div>

            <!-- Main Content -->
            <div class="col-md-9">

                <!-- Create Department Button -->
                <div class="mb-3 ">

                    <button class="btn btn-success">
                        <a href="/create_role" class="text-white text-decoration-none">
                            Create Role
                        </a>
                    </button>

                </div>

                <!-- Table -->
                <table class="table table-bordered">

                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Role Name</th>
                            <th>Role Description</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>

                    <tbody>

                        {% for r in roles %}

                        <tr>

                            <td>{{ forloop.counter }}</td>
                            <td>{{ r.role_name }}</td>
                            <td>{{ r.description }}</td>

                            <td>
                                <button class="btn btn-warning btn-sm">
                                    <a href="/update_role/{{ r.role_id }}" class="text-white text-decoration-none">
                                        Edit
                                    </a>
                                </button>
                            </td>


                            <td>
                                <button type="submit" class="btn btn-danger btn-sm"
                                    onclick="return confirm('Are you sure you want to deactivate this role?')">
                                    <a href="/delete_role/{{ r.role_id }}" class="text-white text-decoration-none">
                                        Delete
                                    </a>
                                </button>
                            </td>

                        </tr>

                        {% endfor %}

                    </tbody>

                </table>

            </div>

        </div>

    </div>

</div>

{% endblock 'main' %}